* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'arial''Times New Roman', Times, serif;
    background-image: url('https://images.unsplash.com/photo-1606787366850-de6330128bfc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(249, 246, 246, 0.4);
    border-radius: 40px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #0a0a0a;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #101010;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #ff6347; /* Tomato color */
    outline: none;
}

button {
    width: 70%;
    padding: 10px;
    background-color: #ff6347; /* Tomato color */
    border: black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e5cc3d; /* Darker tomato color */
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #ff4747;
    text-decoration: none;
}