body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://images.unsplash.com/photo-1611143669185-af224c5e3252?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(0, 0, 0,0.5);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 40px;
    width: 300px;
}

h2 {
    text-align: center;
    color: #f8f6f6;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #faf0f0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #6a11cb; /* Change border color on focus */
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #7ecb11; /* Button color */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fc9f25; /* Change button color on hover */
}

.login-link {
    text-align: center;
    margin-top: 15px;
    color: #f8f4f4;
}

.login-link a {
    color: #fd1e05; /* Link color */
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline; /* Underline on hover */
}